/* Icon styles */
.icon-inline {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: -0.125em;
  margin-right: 4px;
}

.icon-inline svg {
  height: 1em;
  width: 1em;
}

.icon-sm svg {
  height: 16px;
  width: 16px;
}

.icon-md svg {
  height: 24px;
  width: 24px;
}

.icon-lg svg {
  height: 32px;
  width: 32px;
}
